.table_container {
    border-collapse: collapse;
    border: 1px solid var(--table-border);

    background-color: var(--table-header-background);

    font-size: 1.2rem;
    width: 100%;
}

.table_header_col {
    background-color: var(--table-header-background);
    color: var(--table-header-color);
    padding: 8px 10px;
    height: 50px;
}