:root {
  --page-background: #EFEFEF;
  --page-text-color: #1c1c1c;
  --navigation-background: #ffffff;
  --navigation-text-color: #adadad;
  --navigation-alt-text-color: #2d2d2d;
  --profile-picture-box-background: #723b45;
  --navbar-active-link-color: var(--navigation-alt-text-color);
  --navbar-inactive-link-color: var(--navigation-text-color);

  --table-header-background: #E1E1E1;
  --table-header-color: var(--navigation-alt-text-color);
  --table-border: var(--table-header-background);
  --table-row-background: #FFFFFF;
  --table-row-color: var(--navigation-alt-text-color);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  color: var(--page-text-color);

  width: 100vw;
  height: 100vh;

  display: flex;

  @media screen and (max-width: 1360px) {
    flex-direction: column;
  }
}

.page-content {
  width: 100%;
  height: 100%;

  background-color: var(--page-background);
  padding: 30px;
}