.container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info_space {
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 10px;
    padding-right: 10px;

    margin-bottom: 10px;
}

.button_container {
    height: 40px;
    font-size: 16px;

    border: none;
    border-radius: 5px;

    padding-left: 20px;
    padding-right: 20px;

    cursor: pointer;
    color: white;
    background-color: black;
    transition: background-color .3s;

    &:hover {
        background-color: rgb(10, 10, 10);
    }
}

.info_space h1 {
    font-size: 22px;
}

.table_space {
    width: 100%;
}
